<ion-content [fullscreen]="true">
  
    <div class="herdComponent">
      <div style="display: flex; align-items: center;">
        <ion-icon name="arrow-back-outline" style="font-size: 30px;" (click)="goBack()"></ion-icon>
        <ion-icon name="home" [routerLink]="['/tabs/tabHome']" style="font-size: 30px; margin-left: 20px;"></ion-icon>
        <img  (click)="navegarParaMenu()" src="assets/images/perfil_icon.png" alt="Icon Right">
      </div>
      <div class="mesAtual">
        <h3 class="text-month"> Filhos </h3>
      </div>
    
    </div>
  
    <div class="container">
      <div class="conteudo-principal">
        <div class="dash">
      
          <div class="header-container">
            <div class="text-total-pagar">
              Total a pagar no mês
            </div>  
            
            <div class="div-total-pagar">
              {{ totalPaymentByMonth | currency:'BRL':'symbol' }}
            </div>
          </div>
    
          <div class="body-container">


            <div class="cards-filhos">

              @for (child of childrens; track $index) {
                <ion-card color="primary" [routerLink]="['/tabs/tabTarefasFilho/'+child.id]">
                  <header>
                    <div>{{ child.name }}</div> 
                  </header>
                  <div>
                    <div style="font-size: 13px; margin-top: 2px; display: flex; align-items: center;">
                      <div style="font-size: 14px; color: black; padding: 2px; text-align: center; background-color: white; border-radius: 3px;">
                        Saldo
                      </div>
                      <div style="margin-left: 5px; background-color: #76f56b; color: black; padding: 2px; border-radius: 3px; font-weight: bold;"> 
                        {{ child.balance | currency:'BRL':'symbol' }}  
                      </div>
                    </div>
                    <div class="arrow-detalhes" style="border-radius: 20px; width: 50px; float: right;">
                      <ion-icon name="arrow-forward-outline"></ion-icon>
                    </div>
                  </div>
                </ion-card>
              }
              
            </div>
            

          </div>
    
        </div>
      </div>
      
  
    </div>
  
  </ion-content>
  <style>
  
    ion-card-header{
      height: 60%;
      
    }
  .card-condutas {
    height: 100px; /* Ou a altura desejada */
    display: flex;
    flex-direction: column;
  }
  
  .qtd-condutas{
    height: 40%; display: flex; justify-content: center; align-items: center;
  
  }
  .qtd-investidos{
    height: 40%; display: flex; justify-content: center; align-items: center;
  }
  </style>