<ion-content [fullscreen]="true">
  
    <div class="herdComponent">
      <div style="display: flex; align-items: center;">
        <ion-icon name="arrow-back-outline" style="font-size: 30px;" (click)="goBack()"></ion-icon>
        <ion-icon name="home" [routerLink]="['/tabs/tabHome']" style="font-size: 30px; margin-left: 20px;"></ion-icon>
        <img  (click)="navegarParaMenu()" src="assets/images/perfil_icon.png" alt="Icon Right">
      </div>
      <div class="mesAtual">
        <h3 class="text-month"> Pessoas </h3>
      </div>
    
    </div>
  
    <div class="container">
      <div class="conteudo-principal">
        <div class="dash">
      
          <div class="header-container">
            <div class="text-total-pagar">
              Total a pagar no mês
            </div>  
            
            <div class="div-total-pagar">
              {{ totalPaymentByMonth | currency:'BRL':'symbol' }}
            </div>
          </div>
    
          <div class="body-container">

            <!-- TODO: Adicionar máscara no campo telefone -->
            <div class="cards-filhos">

              @for (child of childrens; track $index) {
                <ion-card style="border: 1px solid #ccc;">
                  <header style="display: flex; justify-content: space-between; align-items: center; color: var(--ion-color-primary);">
                    <div>{{ child.nickname }}</div> 
                    <ion-icon name="arrow-forward-outline" [routerLink]="['/tabs/tabTarefasFilho/'+child.uid]"></ion-icon>
                  </header>
                  <div style="margin-top: 20px; display: flex; align-items: center; gap: 7px;">
                    <div style="justify-content: center; display: flex;" (click)="openModalEditChild(child)">
                      <ion-icon name="create-outline" style="font-size: 28px; color: var(--ion-color-warning);"></ion-icon>
                    </div>
                    <div style="justify-content: center; display: flex;" (click)="confirmDelete(child)">
                      <ion-icon name="trash-outline" style="font-size: 26px; color: var(--ion-color-danger);"></ion-icon>
                    </div>
                  </div>
                </ion-card>
              }
              
            </div>
            
          </div>
    
        </div>
      </div>
      
    </div>
  
  </ion-content>
  <style>
  
    ion-card-header{
      height: 60%;
      
    }
    .card-condutas {
      height: 100px; /* Ou a altura desejada */
      display: flex;
      flex-direction: column;
    }
    
    .qtd-condutas{
      height: 40%; display: flex; justify-content: center; align-items: center;
    
    }
    .qtd-investidos{
      height: 40%; display: flex; justify-content: center; align-items: center;
    }
  </style>