<div class="contentScreen">
  
  <div class="herdComponent" >
    <div style="display: flex; align-items: center;">
      <ion-icon name="arrow-back-outline" style="font-size: 30px;" (click)="goBack()"></ion-icon>
      <ion-icon name="home" [routerLink]="['/tabs/tabHome']" style="font-size: 30px; margin-left: 20px;"></ion-icon>
      <img  (click)="navegarParaMenu()" src="assets/images/perfil_icon.png" alt="Icon Right">
    </div>
    <div class="mesAtual">
      <h3 class="text-month"> Meus Ganhos </h3>
    </div>
  
  </div>

  <div class="container">
    <div class="conteudo-principal">
      <div class="dash">
    
        <div class="header-container">
          <div class="text-total-pagar">
            Total a receber
          </div>  
          
          <div class="div-total-pagar">
            {{ totalBalance | currency:'BRL':'symbol' }}
          </div>
        </div>
  
      </div>
    </div>
    
  </div>
<!-- </div> -->
<ion-content>

  

  <ion-list>
    @for (report of reports; track $index) {

      <ion-item-sliding #slidingItem>

        <ion-item color="primary">
          <div style="width: 100%;">
            <div style="display: flex; align-items: center; gap: 10px; justify-content: space-between;">
              <div style="display: flex; gap: 6px;">
                <ion-icon name="calendar-outline"></ion-icon>
                <ion-label>{{report.month}}</ion-label>
              </div>
              <div style="display: flex; gap: 5px;">
                <ion-badge color="tertiary">{{ report.balance | currency:'BRL':'symbol' }}</ion-badge>
              </div>
            </div>

          </div>   
        </ion-item>

      </ion-item-sliding>
    }

  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="onIonInfinite($event)">
    <!-- <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais tarefas...">
    </ion-infinite-scroll-content> -->
  </ion-infinite-scroll>

</ion-content>