<div class="contentScreen">
  
  <div class="herdComponent" >
    <div style="display: flex; align-items: center;">
      <ion-icon name="arrow-back-outline" style="font-size: 30px;" (click)="goBack()"></ion-icon>
      <ion-icon name="home" [routerLink]="['/tabs/tabHome']" style="font-size: 30px; margin-left: 20px;"></ion-icon>
      <img  (click)="navegarParaMenu()" src="assets/images/perfil_icon.png" alt="Icon Right">
    </div>
    <div class="mesAtual">
      <h3 class="text-month"> Minhas Tarefas </h3>
    </div>
  
  </div>

  <div class="container">
    <div class="conteudo-principal">
      <div class="dash">
    
        <div class="header-container">
          <div class="text-total-pagar">
            Total a receber
          </div>  
          
          <div class="div-total-pagar">
            {{ totalBalance | currency:'BRL':'symbol' }}
          </div>
        </div>
  
        <div class="body-container">
          <div style="font-size: 13px;">
            <div style="display: flex; align-items: center; gap: 3px;"><ion-icon name="information-circle"></ion-icon><span>Arraste para a direita para concluir a tarefa</span></div>
          </div>       
          <ion-segment (click)="filterTasksByStatus($event)" color="tertiary" value="hoje" style="font-size: 10px; margin-top: 10px; margin-bottom: 5px;">
            <ion-segment-button value="hoje">
              <ion-label style="font-size: 13px;">Hoje</ion-label>
            </ion-segment-button>
            <ion-segment-button value="todas">
              <ion-label style="font-size: 13px;" >Todas</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>

  
      </div>
    </div>
    
  </div>
<!-- </div> -->
<ion-content>

  

  <ion-list>
    @for (task of tasksFiltered; track $index) {

      <ion-item-sliding #slidingItem>
        
        <ion-item-options *ngIf="taskStatus == 'hoje'" side="start">
          @if(task.status == 'pending') {
            <ion-item-option color="success" (click)="completeTask(task)">
              <ion-icon name="checkmark-outline" style="font-size: 30px;"></ion-icon>
            </ion-item-option>
          } @else {
            <ion-item-option color="danger" (click)="undoTask(task)">
              <ion-icon name="close-circle-outline" style="font-size: 30px;"></ion-icon>
            </ion-item-option>
          }
        </ion-item-options>

        <ion-item color="primary">
          <div style="width: 100%;">
            <div style="display: flex; align-items: center; gap: 10px; margin-top: 7px; justify-content: space-between;">
              <div style="display: flex; gap: 6px;">
                <ion-icon name="rocket-outline"></ion-icon>
                <ion-label>{{ task.title | truncate:25 }}</ion-label>
              </div>
              <div style="display: flex; gap: 5px;">
                <ion-badge color="tertiary">{{ task.cost | currency:'BRL':'symbol' }}</ion-badge>
              </div>
            </div>

            <div *ngIf="taskStatus == 'hoje'" style="width: 100%; height: 100%; margin-top: 10px; display: flex; gap: 4px; margin-bottom: 7px;">
                <ion-badge color="warning">Pendente</ion-badge>
            </div>

            <div *ngIf="taskStatus == 'todas'" style="width: 100%; height: 100%; margin-top: 10px; display: flex; gap: 4px; margin-bottom: 7px;">
              @for (day of task.daysOfWeek; track $index) {
                <ion-badge color="light">{{ day }}</ion-badge>
              }

              @if(task.daysOfWeek?.length == 0 && task.everyDay == true) {
                <ion-badge color="light">Todo dia</ion-badge>
              }
            </div>

          </div>   
          

        </ion-item>

      </ion-item-sliding>
    }

  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="onIonInfinite($event)">
    <!-- <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais tarefas...">
    </ion-infinite-scroll-content> -->
  </ion-infinite-scroll>

</ion-content>