<div>
  <div class="header-modal">
    Editar Filho
  </div>

  <div class="container">

    <div class="form">

      <div style="margin-top: 25px;"> 
        <ion-label>Nickname</ion-label>
        <input type="text" [(ngModel)]="formData.nickname" placeholder="Digite o nickname"/>
      </div>

      <div style="margin-top: 25px;"> 
        <ion-label>Idade</ion-label>
        <input type="text" [(ngModel)]="formData.age" placeholder="Digite a idade"/>
      </div>

      <div style="margin-top: 25px;"> 
        <ion-label>Telefone</ion-label>
        <input type="text" [(ngModel)]="formData.phone" placeholder="Digite o telefone"/>
      </div>

      <!-- <div style="margin-top: 25px;"> 
        <ion-label>Senha</ion-label>
        <input type="password" [(ngModel)]="formData.password" placeholder="Digite a senha"/>
      </div> -->

      <ion-button color="primary" style="margin-top: 40px;" (click)="saveChild()" expand="block">Salvar</ion-button>

    </div>

  </div>
</div>