<ion-content [fullscreen]="true">

  <div class="container">

    <div class="logo">
      <img src="../../assets/images/logo_menor.png" alt="" >
    </div>

    <div class="form">
      <div>
        <ion-label>Nickname</ion-label>
        <input placeholder="Nickname"/>
      </div>

      <div style="margin-top: 25px;"> 
        <ion-label>Senha</ion-label>
        <input type="password" placeholder="Senha"/>
      </div>


      <ion-button [routerLink]="['/tabs/tabHome']" expand="block" color="primary" style="margin-top: 50px;">Entrar</ion-button>

      <div style="margin-top: 20px; font-size: 15px; text-align: center;">
        <a href="/forgot-password" style="font-size: 13px; color: black; text-decoration: none;">Esqueceu a senha?</a>
      </div>

    </div>

    <div style="margin-top: 40px; font-size: 15px; text-align: center;">
      Não tem uma conta? <a [routerLink]="['/register']" style="font-size: 13px; text-decoration: none; font-weight: bold;">Cadastre-se</a>
    </div>
  </div>
</ion-content>
