.mesAtual {
    margin-top: 90px;
}

.herdComponent {
    background: var(--ion-color-tertiary-gradient);
    padding: 20px;
    border-bottom-left-radius: 50px;
    text-align: center;
    height: 20vh;
    color: white;
    position: relative;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;

    

    .subheader {
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding: 10px 10px;
        align-items: center;
        margin-top: 10px;
    }

    .conteudo-principal {
        display: flex;
        justify-content: center;
        // margin-top: 130px;

        .dash {
            width: 90%;
            border-radius: 5px;
            padding: 10px 10px;
            margin-top: 50px;

            .text-month {
                font-size: 20px;
                font-weight: bold;
                color: black;
            }

            .tasks {
                margin-top: 20px;

                ion-card {
                    margin: 0px;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 20px;
                    padding-right: 20px;
                    color: white;
                    font-weight: bold;
                    border-radius: 15px;
                }

                .qtd-tasks {
                    background: var(--ion-color-tertiary-gradient);
                    padding: 8px;
                    border: 1px solid #ccc;
                }
            }

            .div-condutas-investidos {
                display: flex;
                justify-content: space-between;
                margin-top: 25px;

                ion-card {
                    margin: 0px;
                    height: 100px;
                    width: 47%;
                    font-size: 20px;
                    text-align: center;
                    color: white;
                    font-weight: bold;
                    border-radius: 20px;
                }

                .qtd-condutas {
                    background: var(--ion-color-tertiary-gradient);
                    padding: 8px;
                    border-top: 1px solid #ccc;
                }

                .qtd-investidos {
                    background: var(--ion-color-tertiary-gradient);
                    padding: 8px;
                    border-top: 1px solid #ccc;
                }
            }

        }
    }

}