<ion-content [fullscreen]="true">

  <div class="herdComponent" >
    <img  (click)="navegarParaMenu()" src="assets/images/perfil_icon.png" alt="Icon Right">
    <div class="mesAtual">
      <h3 class="text-month"> Mês atual </h3>
    </div>
  </div>

  <div class="container">
    <div class="conteudo-principal">
      <div class="dash">
    
        <div class="tasks">
          <ion-card color="primary" [routerLink]="['/tabs/tabTarefas']">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-left: 20px;">
              <div>
                <div>Tarefas</div>
              </div>
              <div class="qtd-tasks" style="border-radius: 20px; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;">
                {{data.tasksQuantity}}
              </div>
            </div>
          </ion-card>  
        </div>
  
        <div class="div-condutas-investidos">
          <ion-card class="card-condutas" color="primary">
            <ion-card-header >
              <div>Condutas</div>
            </ion-card-header>
            <div class="qtd-condutas">
              {{data.behaviorsQuantity}}
            </div>
          </ion-card>
          
          
  
          <ion-card color="primary">
            <ion-card-header >
              <div>Investidos</div>
            </ion-card-header>
            <div class="qtd-investidos">
              {{data.investQuantity | currency: 'BRL': 'symbol'}}
            </div>
          </ion-card>
        </div>
  
      </div>
    </div>
    

  </div>

</ion-content>
<style>

  ion-card-header{
    height: 60%;
    
  }
.card-condutas {
  height: 100px; /* Ou a altura desejada */
  display: flex;
  flex-direction: column;
}

.qtd-condutas{
  height: 40%; display: flex; justify-content: center; align-items: center;

}
.qtd-investidos{
  height: 40%; display: flex; justify-content: center; align-items: center;
}
</style>