<div class="contentScreen">
  
    <div class="herdComponent" >
      <div style="display: flex; align-items: center;">
        <ion-icon name="arrow-back-outline" style="font-size: 30px;" (click)="goBack()"></ion-icon>
        <ion-icon name="home" [routerLink]="['/tabs/tabHome']" style="font-size: 30px; margin-left: 20px;"></ion-icon>
        <img  (click)="navegarParaMenu()" src="assets/icon/logo.svg" alt="Icon Right">
      </div>
      <div class="mesAtual">
        <h3 class="text-month"> Tarefas </h3>
      </div>
    
    </div>
  
    <div class="container">
      <div class="conteudo-principal">
        <div class="dash">
      
          <div class="header-container">
            <div class="text-total-pagar">
              Total a pagar no mês
            </div>  
            
            <div class="div-total-pagar">
              {{ totalPaymentByMonth | currency }}
            </div>
          </div>
    
          <div class="body-container">

            <div style="font-size: 13px;">
              <div style="display: flex; align-items: center; gap: 3px;"><ion-icon name="information-circle"></ion-icon><span>Arraste para a direita para editar ou excluir</span></div>
              <div style="display: flex; align-items: center; gap: 3px;"><ion-icon name="information-circle"></ion-icon>Arraste para a esquerda para saber o responsável</div>
            </div> 

            <div class="task-list-container">

              

            </div>
            
          </div>
    
        </div>
      </div>
      
    </div>
  <!-- </div> -->
  <ion-content>
    <ion-list>
      @for (task of allTasks; track $index) {
        <ion-item-sliding>
          <ion-item-options side="start">
            <ion-item-option color="warning">
              <ion-icon name="create-outline" style="font-size: 20px;"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger">
              <ion-icon name="trash-outline" style="font-size: 20px;"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item color="primary">
            <div style="width: 100%;">
              <div style="display: flex; align-items: center; gap: 10px; margin-top: 7px; justify-content: space-between;">
                <div style="display: flex; gap: 6px;">
                  <ion-icon name="rocket-outline"></ion-icon>
                  <ion-label>{{ task.title }}</ion-label>
                </div>
                <div style="display: flex; gap: 5px;">
                  <ion-badge  [color]="task.status == 'Pendente' ? 'warning' : 'success'">{{ task.status }}</ion-badge>
                  <ion-badge color="tertiary">{{ task.cost | currency }}</ion-badge>
                </div>
              </div>

              <div style="display: flex;">
                <div class="detalhes-tarefa" style="width: 80%;">      
                  <div class="descricao">
                    {{ task.description }}
                  </div>
                </div>

                <div style="width: 20%; height: 100%;">
                  <ion-checkbox labelPlacement="end"></ion-checkbox>
                </div>
              </div>
            </div>               
          </ion-item>
      
          <ion-item-options>
            <ion-item-option class="responsavel" color="light">{{ task.childName }}</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      }

    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="onIonInfinite($event)">
      <!-- <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais tarefas...">
      </ion-infinite-scroll-content> -->
    </ion-infinite-scroll>
  </ion-content>