<div class="contentScreen">
  
  <div class="herdComponent" >
    <div style="display: flex; align-items: center;">
      <ion-icon name="arrow-back-outline" style="font-size: 30px;" (click)="goBack()"></ion-icon>
      <ion-icon name="home" [routerLink]="['/tabs/tabHome']" style="font-size: 30px; margin-left: 20px;"></ion-icon>
      <img  (click)="navegarParaMenu()" src="assets/images/perfil_icon.png" alt="Icon Right">
    </div>
    <div class="mesAtual">
      <h3 class="text-month"> Tarefas ( {{child.nickname}} ) </h3>
    </div>
  </div>

  <div class="container">
    <div class="conteudo-principal">
      <div class="dash">
    
        <div class="header-container">
          <div class="text-total-pagar">
            Total a pagar no dia
          </div>  
          
          <div class="div-total-pagar">
            {{ totalPaymentByDay | currency:'BRL':'symbol' }}
          </div>
        </div>
  
        <div class="body-container">

          <button (click)="presentModal()" class="btn-conduta">
            Conduta +
          </button>       

          <ion-segment (click)="filterTasksByStatus($event)" color="tertiary" value="hoje" style="font-size: 10px; margin-top: 10px; margin-bottom: 5px;">
            <ion-segment-button value="hoje">
              <ion-label style="font-size: 13px;">Hoje</ion-label>
            </ion-segment-button>
            <ion-segment-button value="feitas">
              <ion-label style="font-size: 13px;" >Feitas</ion-label>
            </ion-segment-button>
            <ion-segment-button value="pendentes">
              <ion-label style="font-size: 13px;">Pendentes</ion-label>
            </ion-segment-button>
          </ion-segment>

          <div style="font-size: 13px;">
            <div style="display: flex; align-items: center; gap: 3px;"><ion-icon name="information-circle"></ion-icon><span>Arraste para a direita para editar ou excluir</span></div>
          </div>
          
        </div>
  
      </div>
    </div>
  </div>


  <ion-content>
    <ion-list>
      @for (task of tasksByChild?.tasksToday; track $index) {
        <ion-item-sliding>
          <ion-item-options side="start">
            <ion-item-option color="warning">
              <ion-icon name="create-outline" style="font-size: 20px;"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger">
              <ion-icon name="trash-outline" style="font-size: 20px;"></ion-icon>
            </ion-item-option>
          </ion-item-options>
  
          <ion-item color="primary">
            <div style="width: 100%;">
              <div style="display: flex; align-items: center; gap: 10px; margin-top: 7px; justify-content: space-between;">
                <div style="display: flex; gap: 6px;">
                  <ion-icon name="rocket-outline"></ion-icon>
                  <ion-label>{{ task.title | truncate:15 }}</ion-label>
                </div>
                <div style="display: flex; gap: 5px;">
                  <ion-badge  [color]="task.status == 'pending' ? 'warning' : 'success'">{{ task.status == 'pending' ? 'Pendente' : 'Feita' }}</ion-badge>
                  <ion-badge color="tertiary">{{ task.cost | currency:'BRL':'symbol' }}</ion-badge>
                </div>
              </div>
  
              <div style="display: flex;">
                <div class="detalhes-tarefa" style="width: 80%;">      
                  <div class="descricao">
                    {{ task.description }}
                  </div>
                </div>
  
                <div style="width: 20%; height: 100%;">
                  <ion-checkbox labelPlacement="end"></ion-checkbox>
                </div>
              </div>
            </div>               
          </ion-item>
      
        </ion-item-sliding>
      }
  
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="onIonInfinite($event)">
      <!-- <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais tarefas...">
      </ion-infinite-scroll-content> -->
    </ion-infinite-scroll>
  </ion-content>
</div>
