.tab-selected {
	color: var(--ion-color-primary);
}

ion-tabs {
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom);

		/* fix notch ios*/
		ion-fab-button {
			--box-shadow: none;
		}
	}

	ion-tab-bar {
		box-shadow: 0px 0px 2px 0px #00000000;

		box-shadow: 0px 0px 13px 0px #0000001A;

		--border: 0;
		--background: #ffffff;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		padding: 0px 20px 16px 20px;
		gap: 24px;
		border-radius: 30px 30px 0px 0px;
		border: 2px 0px 0px 0px;
		opacity: 0px;

		&:after {
			content: " ";
			width: 100%;
			bottom: 0;
			background: var(--ion-color-light);
			height: env(safe-area-inset-bottom);
			position: absolute;
		}

		ion-tab-button {
			// --background: var(--ion-color-light);
		}

		ion-tab-button.comments {
			margin-right: 0px;
			border-top-right-radius: 18px;
		}

		ion-tab-button.notifs {
			margin-left: 0px;
			border-top-left-radius: 18px;
		}

		svg {
			width: 72px;
			margin-top: 19px;

			path {
				fill: var(--ion-color-light);
			}
		}
	}
}